$header-height: 50px;
$header-colour: red;

$toolbar-height: 50px;
$toolbar-colour: yellow;

$formula-height: 50px;
$formula-colour: darkred;
$info-cell-width: 40px;

$row-height: 20px;

$cell-width: 150px;

$border-colour: blue;
$border-colour-hover: grey;
$border-colour-focus: orange;

$button-default-size: 30px;
$button-default-colour: green;
$button-colour-hover: black;
$button-background-hover: grey;

$dashboard-header-height: 70px;
$dashboard-header-colour: red;

$dashboard-view-colour: green;