$header-height: 50px;
$header-colour: red;

$border-colour-hover: grey;
$border-colour-focus: orange;

$button-default-size: 30px;
$button-default-colour: green;
$button-colour-hover: black;
$button-background-hover: grey;